.container {
    padding: 2rem 0;
  }
  
  .card {
    margin-bottom: 2rem;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
  }
  
  .title {
    font-weight: bold;
    font-size: 1.75rem;
  }
  
  .info {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .icon {
    font-size: 20px;
  }
  
  .text {
    color: var(--text-secondary);
  }
  
  .grow {
    flex-grow: 1;
  }
  
  .iconButton {
    color: var(--text-secondary);
  }
  